<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/rpolacheck">Bob</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'bob.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Bob Polacheck</h2>
      <br />
      <p>
        Bob Polacheck is an aspiring web developer.  He is currently a student at Firehose Project and is excited to begin his journey into tech.
      </p>
    </div> 
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />